<!DOCTYPE html>
{% set lang = grav.language.getActive ?: theme_config.default_lang %}
<html
  lang="{{ lang }}"
  ng-app="Mona">
  <head>
    {% block stylesheets %}
    {% do assets.addCss('theme://css-compiled/mona-default.css') %}
    {% endblock %}
    {{ assets.css() }}
    {% block javascript %}
    {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js') %}
    {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js') %}
    {% do assets.addJs('theme://js/mona.js') %}
    {% do assets.addJs('theme://js/controllers/MainController.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/Taxonomy.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/navItem.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/requireJs.js', {'group':'MonaAngular'}) %}
    {% endblock %}
    {{ assets.js() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site.title }} --- {{page.title() }}</title>
  </head>
  <body
    ng-controller="responsiveDesign">
    <main>
      {% block banner %}
      {% include 'partials/header.html.twig' %}
      {% endblock %}
      <section
        id="mainSection"
        ng-controller="taxonomy" >
        {% if config.plugins.breadcrumbs.enabled %}
        {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}
        <aside id="sideNavigation">
        {% block sidenav %}
          {% include 'partials/navigation/side_nav.html.twig' %}
          {% block sideFilters %} {% endblock %}
        {% endblock %}
        </aside>
        <div class="contents" lang="{{lang}}">
          <header>
            {% block header %}
              <h1>{{ page.title() }}</h1>
            {% endblock %}
          </header>
          {% block content %}{% endblock %}
        </div>
      </section>
      {% include 'partials/footer.html.twig' %}
    </main>
  </body>
  {{ assets.js('Mona') }}
  {{ assets.js('MonaAngular') }}
</html>
