<!DOCTYPE html>
{% import 'macros/utils.html.twig' as utils %}
{% import 'macros/css_tools.html.twig' as css %}
{% set lang = grav.language.getActive ?: theme_config.default_lang %}
<html
  lang="{{ lang }}"
  ng-app="Mona">
  <head>
    {% block stylesheets %}
      {% do assets.addCss('theme://css-compiled/mona.css') %}
    {% endblock %}
    {% block stylesheets_inline %}
      {% set css_inline %}
        {% if not header.sidenav.enable %}
          {{css.disable_sidenav}}
        {% endif %}
      {% endset %}
      {% do assets.addInlineCss(css_inline) %}
    {% endblock %}
    {% block javascript %}
    {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js') %}
    {% do assets.addJs('https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.js') %}
    {% do assets.addJs('theme://js/mona.js') %}
    {% do assets.addJs('theme://js/controllers/MainController.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/controllers/Taxonomy.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/navItem.js', {'group':'MonaAngular'}) %}
    {% do assets.addJs('theme://js/directives/requireJs.js', {'group':'MonaAngular'}) %}
    {% endblock %}
    {{ assets.css() }}
    {{ assets.inline_css() }}
    {{ assets.js() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.site.title }} --- {{page.title() }}</title>
  </head>
  <body
    ng-controller="responsiveDesign">
    <main>
      {% block banner %}
      {% include 'partials/header.html.twig' %}
      {% endblock %}
      <section
        id="mainSection"
        ng-controller="taxonomy" >
        {% if config.plugins.breadcrumbs.enabled and header.breadcrumbs.enable %}
        {% include 'partials/breadcrumbs.html.twig' %}
        {% else %}
          <div class="Strut"> </div>
        {% endif %}
        <div class="Container">
          {% if header.sidenav.enable %}
          <aside id="sideNavigation" ng-controller="sidebarCtrl">
            {% block sidenav %}
              {% include 'partials/navigation/side_nav.html.twig' %}
              {% block sideFilters %} {% endblock %}
            {% endblock %}
          </aside>
          {% endif %}
          <div class="contents" lang="{{lang}}">
            <header>
              {% block header %}
              {% if not page.home() %}
              <h1>{{ page.title() }}</h1>
              {% endif %}
              {% endblock %}
            </header>
            {% block content %}{% endblock %}
          </div>
        </div>
      </section>
      {% include 'partials/footer.html.twig' %}
    </main>
  </body>
  {{ assets.js('Mona') }}
  {{ assets.js('MonaAngular') }}
</html>
