{% set tax = page.taxonomy | json_encode() %}
<div
  class="BlogItem"
  ng-class='{Active:taxShowBlogItem({{tax}})}'
  ng-init='taxInit({{tax}})'
  >
  <header>
    <h3> <a href="{{page.url}}">
      {{page.title}}
    </a>
  </h3>
  </header>
  <p>
    {{ page.summary }}
  </p>
  <footer>
    <div class="Taxonomy">
      {% include 'filter/categories.html.twig' %}
      {% include 'filter/tags.html.twig' %}
    </div>
  </footer>
</div>
