{% set tax = page.taxonomy | json_encode() %}
<div
  class="BlogItem"
  ng-class='{Hide:taxHideBlogItem({{tax}})}'
  ng-init='taxInit({{tax}})'
  >
  <header>
    <h3> <a href="{{page.url}}" tabindex="0">
      {{page.title}}
    </a>
  </h3>
  </header>
  <p>
    {{ page.summary }}
  </p>
</div>
