{% macro tax_switches (taxtype, id, description, taxlist) %}
<div ng-init="filterInit({{id}})">
  <h4 class="FilterHeader" ng-class="{Active: filterPoppedUp({{id}})}">
    <div class="FilterExpander" ng-click="filterSwitch({{id}})">
      <div class="toExpand"></div>
      <div class="FilterName"> {{description}} </div>
    </div>
    <div
      class="resetFilter"
      ng-class="{Active: filterUsed('{{taxtype}}')}"
      ng-click="filterReset('{{taxtype}}')"></div>
  </h4>
  <div class="{{taxtype | capitalize}}List">
    {% for t in taxlist %}
      {% set tax_classes %}
      {
        Active: taxSwitchActive("{{taxtype}}",
        {
          {% if taxtype == "town" %}
            "town": ["{{t}}"],
            "category": [],
            "tag": [],
          {% endif %}
          {% if taxtype == "category" %}
            "town": [],
            "category": ["{{t}}"],
            "tag": [],
          {% endif %}
          {% if taxtype == "tag" %}
            "town": [],
            "category": [],
            "tag": ["{{t}}"],
          {% endif %}
        }),
        Hide: taxHide{{taxtype | capitalize}}Switch("{{t}}")
      }
      {% endset %}
      <span
        class="{{taxtype | capitalize}}"
        tabindex="0"
        ng-class='{{tax_classes}}'
          ng-click='taxDoSwitch("{{taxtype}}","{{t}}")'
          > {{ t }}
      </span>
    {% endfor %}
  </div>
</div>
{% endmacro %}

{% macro tax_item (taxtype, description, taxlist) %}
<div>
  <h4>{{description}}</h4>
<div class="{{taxtype | capitalize}}List">
  {% for t in taxlist %}
    <span class="{{taxtype | capitalize}}"> {{ t }} </span>
  {% endfor %}
</div>
</div>
{% endmacro %}
