{% extends 'partials/base.html.twig' %}

{% block stylesheets_inline %}
{% set css_inline %}
{{css.disable_sidenav}}
{% endset %}
{% do assets.addInlineCss(css_inline) %}
{% endblock %}

{% block content %}
{{ page.content }}
<footer>
  <div class="Taxonomy RequireJS" require-js>
    {{ utils.tax_item(
      'town',
      'Stadt',
      page.taxonomy.town) }}
    {{ utils.tax_item(
      'category',
      'Kategorien',
      page.taxonomy.category) }}
    {{ utils.tax_item(
      'tag',
      'Schlagworte',
      page.taxonomy.tag) }}
  </div>
</footer>
{% endblock %}

{% block sidenav %}
{% endblock %}
