{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
{% do assets.addCss('theme://css-compiled/mona-section.css') %}
{% endblock %}

{% block content %}
<div class="Event">
  <div>
    {{ page.header.town }}. <br/>
    {{ page.header.adress }}
  </div>
  <div>
    {{ page.header.date | date ("d. m. Y") }} um
    {{ page.header.date | date ("H:i") }} Uhr.
  </div>
</div>
{{ page.content }}
{% endblock %}

{% block sidenav %} {% endblock %}
