{% extends 'partials/base.html.twig' %}

{% block content %}
{{ page.content }}
{% endblock %}

{% block sidebarCustom %}
<div class="SideNav">
  <div class="Event">
    <div>
      {{ page.header.adress | markdown }}
    </div>
  </div>
  <div class="Event">
    <div>
      {{ page.header.date | date ("d. m. Y") }} um
      {{ page.header.date | date ("H:i") }} Uhr
      ({{ page.taxonomy.town[0] }}).
    </div>
  </div>

</div>
{% endblock %}
